<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Capture</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
        <form action="{{url_for('change_label')}}" method="POST" enctype="multipart/form-data" name="my-form">
            <div class="image_form">
                <div class="file_container"> 
                    <label for="photo" class="capture-button">
                        <img src="/static/camera-white.jpeg" id="photo-camera" alt="Back Camera" width="50" height="50" onclick="hidePrediction()"/>
                    </label>
                    <input type="file" id="photo" capture="environment" accept="image/*" name="user_file">
                </div>
                <div class="preview">
                    <p>No files currently selected for upload</p>
                </div>
                <div>
                    <p id="hi" style="visibility: {{visibility}};">{{guess}}</p>
                    <p><input type = "hidden" name = "imagesrc" id="imagesrc"  value=""/></p>
                    <button id="submit-btn" type="submit" name="click">Guess</button>
                </div>
            </div>
        </form>
        <script>
            function hidePrediction() {
                document.getElementById("hi").style.visibility = "hidden";
            }
        </script>

        <script>
            const input = document.querySelector("input");
            const preview = document.querySelector(".preview");

            input.style.opacity = 0;

            input.addEventListener("change", updateImageDisplay);

            function updateImageDisplay() {
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                const curFiles = input.files;
                if (curFiles.length > 0) {
                    const list = document.createElement("ol");
                    preview.appendChild(list);

                    for (const file of curFiles) {
                        const listItem = document.createElement("li");
                        const para = document.createElement("p");
                        if (validFileType(file)) {
                            const image = document.createElement("img");
                            image.setAttribute("id", "img_2_upload");
                            image.src = URL.createObjectURL(file);
                            // document.getElementById("imagesrc").value = image.src;
                            image.alt = image.title = file.name;


                        listItem.appendChild(image);
                        }

                    list.appendChild(listItem);
                    }
                }
                const button = document.querySelector("form button");

                button.style.visibility = "visible";
            }

            // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
            const fileTypes = [
            "image/apng",
            "image/bmp",
            "image/gif",
            "image/jpeg",
            "image/pjpeg",
            "image/png",
            "image/svg+xml",
            "image/tiff",
            "image/webp",
            "image/x-icon",
            ];

            function validFileType(file) {
                return fileTypes.includes(file.type);
            }
        </script>
        <script>
            async function doFetchStuff(uri, evt) {
                console.log("doing fetch stuff!!!")
                await fetch(uri, {
                    method: 'POST',
                    body: new FormData(evt.target)
                }).then(resp => resp.json())
                .then(data => {
                    document.getElementById("hi").style.visibility = "visible";
                    document.getElementById("hi").innerHTML = data.guess;
                });
            }
        </script>

        <script>
            (uri => {
                // Register a listener for submit events.
                const form = document.querySelector('form[name="my-form"]');
                form.addEventListener('submit', (evt) => {
                    evt.preventDefault();
                    var img = document.getElementById('img_2_upload');
                    img.style.filter = 'blur(10px)';
                    doFetchStuff(uri, evt);
                    // Reset the form.
                    console.log(`reseting form`);
                    evt.target.reset();
                });
            })({{ url_for('change_label') | tojson }});
        </script>
</body>
</html>